<?xml version='1.1' encoding='UTF-8'?>
<!--
  Template for the TABSIRA pipelines Jenkins does not discover by itself (a
  Jenkinsfile.* other than Jenkinsfile). jenkins/apply-jobs.sh fills in @NAME@,
  @DISPLAY@, @SCRIPT@ and @DESCRIPTION@ and creates or updates each job. Run it
  rather than editing jobs by hand, so a rebuilt controller can be brought back.

  Parameters live in each Jenkinsfile and are registered on its first run.
-->
<flow-definition plugin="workflow-job">
  <description>@DESCRIPTION@</description>
  <displayName>@DISPLAY@</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps">
    <scm class="hudson.plugins.git.GitSCM" plugin="git">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>@REPO_URL@</url>
          <credentialsId>jenkins-ssh-deploy-devops</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>@SCRIPT@</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <disabled>false</disabled>
</flow-definition>
